angles==1.9.12
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
idna==2.10
requests==2.25.0
rosboost-cfg==1.14.9
rosclean==1.14.9
rosgraph==1.14.9
roslint==0.11.2
roslz4==1.14.9
rosmaster==1.14.9
rosparam==1.14.9
slackweb==1.0.5
smach==2.0.1
smclib==1.8.5
soupsieve==2.0.1
urllib3==1.26.2
